.container {
  min-height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
}

.video {
  position: relative;
  width: 100%;
}

.stageVideo {
  left: 41.4%;
  position: absolute;
  top: 49.4%;
  width: 18.8%;
}

.image {
  width: 100%;
}
